body {
  background-color: rgb(247,140,140);
}

.decision {
  width: 70%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}


h1 {
  color: ivory;
  font-family: "arial black";
  text-transform: uppercase;
  font-size: 40px;
  line-height: 40px;
  padding: 5%;
}

h2 {
  color: ivory;
  font-family: "arial";
  font-size: 38px;
  padding-top: 1%;
}

.container: {
  width: 700px;
}

.img {
  float: left;

  <div class="container">

}


.candidates {
 background-color: white;
 width: 22%;
 margin: 1%;
 float:left;
 text-align: center;
 font-family: "arial"
 border: solid white 2px;
}

.candidates img {
  width: 100%
}








  position: relative;
  display: inline-block;
  float: left;
  padding: 10px;
}

.category2 {
  position: relative;
  display: inline-block;
  float: left;
  padding: 10px;
}

.category3 {
  position: relative;
  display: inline-block;
  float: left;
  padding: 10px;
}

.category4 {
  position: relative;
  display: inline-block;
  float: left;
  padding: 10px;
}

</div>
